/*
 * Kebo Twitter Feed SCSS File
 */

/* Custom Values */

$twitter: #0192c9;

/* Admin Menu Icon */
#adminmenu .toplevel_page_kebo-twitter div.wp-menu-image {
        background: url("../imgs/twitter_feed_icons_sprite.png") -92px -34px no-repeat;
}
#adminmenu .toplevel_page_kebo-twitter:hover div.wp-menu-image,
#adminmenu .toplevel_page_kebo-twitter.current div.wp-menu-image,
#adminmenu .toplevel_page_kebo-twitter.current:hover div.wp-menu-image {
        background-position: -92px -2px;
}

/* Admin Menu Page */

.social-link {
        padding: 8px 16px 8px 14px;
        background: #eee;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        display: inline-block;
        font-weight: normal;
}
.social-link:hover,
.social-link:focus,
.social-link:active {
        color: #fff;
}
.social-link i {
        margin-right: 8px;
        font-size: 16px;
}
.social-link.twitter {
        background: $twitter;
}
.social-link.twitter:hover {
        background: darken($twitter, 10%);
}
.social-link.disabled {
        background: #aaa;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        display: inline-block;
        font-weight: normal;
}
a.account {
        text-decoration: none;
}
.disconnect {
        text-decoration: none;
        color: #fff;
        padding: 1px 3px 2px 3px;
        background: #dd4b39;
        border-radius: 9999px;
        font-size: 9px;
        font-weight: bold;
}
.disconnect:hover {
        background: darken(#dd4b39, 10%);
        color: #fff;
}

/* Twitter Feed General */
.kebo-tweets {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        outline: none;
        background-image: none;
}
.kebo-tweets .tweet {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        outline: none;
        background-image: none;
}
.kebo-tweets .tweet .date {
        float: right;
}
.kebo-tweets .tweet .text {
        margin: 5px 0 2px 0;
}
.kebo-tweets .tweet .text a {
        display: inline;
        padding: 0;
}
.kebo-tweets .tweet .avatar {
        float: left;
        margin: 7px 7px 0 0;
        border-radius: 0px;
        width: 41px;
        height: 41px;
        padding: 0;
        border: none;
}
.kebo-tweets .tweet .footer {
        text-align: right;
        padding: 0;
}
.kebo-tweets .tweet .footer a {
        background: url('../imgs/twitter_feed_icons_sprite.png') top left no-repeat;
        width: 20px;
        height: 14px;
        display: inline-block;
        padding: 0;
        margin: 6px 0 0 0;
}
.kebo-tweets .tweet .footer .timeago {
        float: left;
}

/* Light Theme */
.kebo-tweets.light .tweet .footer a {
        opacity: 0.5;
}
.kebo-tweets.light .tweet .footer a:hover {
        opacity: 0.7;
}
.kebo-tweets.light .tweet .footer .reply {
        background-position: 0px 0px;
}
.kebo-tweets.light .tweet .footer .retweet {
        background-position: -27px 0px;
}
.kebo-tweets.light .tweet .footer .favourite {
        background-position: -54px 0px;
}
.kebo-tweets.light .tweet .footer .timeago {
        color: rgba(0, 0, 0, 0.5);
}

/* Dark Theme */
.kebo-tweets.dark .tweet .footer a {
        opacity: 1;
}
.kebo-tweets.dark .tweet .footer a:hover {
        opacity: 0.6;
}
.kebo-tweets.dark .tweet .footer .reply {
        background-position: 0px -32px;
}
.kebo-tweets.dark .tweet .footer .retweet {
        background-position: -27px -32px;
}
.kebo-tweets.dark .tweet .footer .favourite {
        background-position: -54px -32px;
}
.kebo-tweets.dark .tweet .footer .timeago {
        color: rgba(255, 255, 255, 0.5);
}

/* Twitter Feed - Horizontal */
.kebo-tweets.slider {
        
}
#kebo-tweet-slider .tweet {
        display: none;
        height: auto;
        list-style: none;
        border-bottom: none;
}

/* Twitter Feed - Vertical */
.kebo-tweets.list .tweet {
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.kebo-tweets.list .tweet:first-of-type {
        padding-top: 0;
}
