/*
 * Kebo Twitter Feed SCSS File
 */

/* Custom Values */

$twitter: #0192c9;

/* Custom Mixins */


/* General Styles */

.social-link {
    padding: 8px 16px 8px 14px;
    background: #eee;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
}
.social-link:hover,
.social-link:focus,
.social-link:active {
    color: #fff;
}
.social-link i {
    margin-right: 8px;
    font-size: 16px;
}
.social-link.twitter {
    background: $twitter;
}
.social-link.twitter:hover {
    background: darken($twitter, 10%);
}
.social-link.disabled {
    background: #aaa;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
}
a.account {
    text-decoration: none;
}
.disconnect {
    text-decoration: none;
    color: #fff;
    padding: 1px 3px 2px 3px;
    background: #dd4b39;
    border-radius: 9999px;
    font-size: 9px;
    font-weight: bold;
}
.disconnect:hover {
    background: darken(#dd4b39, 10%);
    color: #fff;
}